* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
body {
    color: #333333;
    font-family: 'Roboto Slab', serif;
    line-height: 1.6;  
    background-color:#f2f2f2ea;
}
.container {   
    padding-left: 1em;
    padding-left: 1em; 
    align-content: center;
}
a {
    text-decoration: none;
}
h2 {
    color: #b0b015;
    font-family: 'Neuton', serif;  
    margin-bottom: 1rem;    
    font-size: 2em;
    text-shadow: 2px 1.5px #b9b5b5 ;
}
/* header and navigation bar*/
/*sticky nav bar*/
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}
#header {
    background-color: #e1e16b;
}
#header h1, h4 {
    font-family: 'Noto Serif', serif;   
    text-align: center;    
}
#navbar {   
    background-color:  #555653;    
}
#navbar li {    
    width: 100%;
 }
#navbar a {   
color: #f9f92f;   
}
/*all content on the page*/
#section1 img {
    box-shadow: 10px 5px 10px#8f8f8f;
    margin: 0.5em;
    border-radius: 50px;
    margin-right: 50px;
}
#experience , #section1, #skills, #connect, #messagesForm, #messages{
    padding-top: 3rem; 
}
#skills {
    margin-top: 1rem;
}
.years {
    float: right;
}
/*Experience section change from  li to display grid*/
.grid-container {
    display: grid;
    row-gap: 2rem;    
}
.grid-container p{
    display: block;
    padding: 0.75rem;
    margin: 0.5rem 2rem 0 2.5rem ;
    border: 1px double #a9a923;
    border-radius: 10px;
    color:  #333333;  
}  
/*Skills section*/
.skillsBox li {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0.5rem 3em;
    border: 1px solid #a9a923;  
    margin-bottom: 2rem;
    border-radius: 10px;
    box-shadow: 5px 5px 5px#bfbfbf;
    width: 10em;
      
}
.skillsBox li:hover {
    background-color: #555653;
    color:#e1e16b;
}
/* Project section written by AJAX/JSON */
#projects li {
    list-style-type: none;
    margin-left: 0.5em;
    font-style: italic;
    text-transform: uppercase;
}
#projects li:hover {
    background-color:#5f5e5e;
    color:#e1e16b;
   
}
/*Connect section*/
#connect li {
    list-style: none;
    padding: 0.5rem;
}
a {
    text-decoration: none;
    color: #000000;
}
a:hover {
    background-color: #555653;
    color:#e1e16b;
}
/*Leave a message form*/
#messagesForm form {
    margin-left: 2%;
}
#messagesForm input {       
    border-radius:5px;
    border: 1px solid; 
    margin-bottom: 0.5em;    
}
#messagesForm textarea {
    border-radius:5px;
    border: 1px solid; 
    margin-bottom: 0.5em; 
    padding: 0.5rem;      
}
.inputMessage {
    display: block;
    margin-bottom: 1rem;
    max-width: 100%;
    width: 100%;
}
#messagesForm button {
    display: block;
    background-color: #e1e16b;
    border-radius:5px;
    border: 1px solid; 
    margin-top: 0.5em;
    font-size: 20px;
   
    padding: 0.5em; 
    box-shadow: 5px 5px 5px#bfbfbf;       
}   
/*Messages section*/
#messagesForm button:hover {
    background-color: #555653;
    color:#e1e16b;
}
#messages a {
    font-weight: bold;    
    display: flex;
    flex-wrap: wrap;
    width: 25%;
    float:left;
}
#messages button {
    border-radius:5px;
    font-size: 14px;     
}
#messages button:hover {
    background-color: #5f5e5e;
    color:#f1f10b ;
} 
/*footer section*/
footer {
    background-color: #e1e16b;
    font-family: 'Noto Serif', serif;
    text-align: center;
    color: #333333;
    font-weight: bold;
    padding: 1em 0;
}


