* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    letter-spacing: .1em;
}
body {
    color: #333333;
    font-family: 'Roboto Slab', serif;
    line-height: 1.6;  
    background-color:#f2f2f2ea;
}
.container {   
    padding-left: 1em;
    padding-left: 1em; 
    align-content: center;
}
p.one{
    text-indent: 20px;
}
a {
    text-decoration: none;
    color:#333333;
}
h1 {
    word-spacing: 10px;
}
h2 {
    color: #84841e;
    font-family: 'Neuton', serif;  
    margin-bottom: 1rem;    
    font-size: 2em;
}
    
/* header and navigation bar*/
/*sticky nav bar*/
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}
#header {
    background-color: #e1e16b;
}
#header h1, h4 {
    font-family: 'Noto Serif', serif;   
    text-align: center;    
}
#navbar {   
    background-color:  #555653;    
}
#navbar li {    
    width: 100%;
 }
#navbar a {   
color: #f9f92f;   
}
/*all content on the page*/
#section1 img {
    box-shadow: 10px 5px 10px#8f8f8f;
    margin: 0.5em;
    border-radius: 50px;
    margin-right: 50px; 
    transition: 3s;
    z-index: -1;
}
#section1 img:hover{
    -webkit-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
        transform: scaleX(-1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    -webkit-animation: mymove 5s infinite;
            animation: mymove 5s infinite;
 }
#experience , #section1, #skills, #connect, #messagesForm, #messages{
    padding-top: 3rem; 
}
#skills {
    margin-top: 1rem;
}
.years {
    float: right;
}
/*Experience section change from  li to display grid*/
.grid-container {
    display: grid;
    row-gap: 2rem;    
}
.grid-container p{
    display: block;
    padding: 0.75rem;
    margin: 0.5rem 2rem 0 2.5rem ;
    border: 1px double #a9a923;
    border-radius: 10px;
    color:  #333333;  
}  
/*Skills section*/
.skillsBox li {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0.5rem 2em;
    border: 1px solid #a9a923;  
    margin-bottom: 2rem;
    border-radius: 10px;
    box-shadow: 5px 5px 5px#bfbfbf;
    width: 10em;      
}
.skillsBox li:hover {
    background-color: #555653;
    color:#e1e16b;
    -webkit-transform:scale(1.2);
    z-index: -1;
}
/* Project section written by AJAX/JSON */
#projects ul {    
    display: grid;
    column-gap: 30px;
    row-gap: 30px;
    grid-template-columns: auto auto auto;    
}
#projects li {    
    list-style-type: none;
    margin-left: 0.5em;
    text-transform: uppercase;   
    border: 1px double #a9a923;
    border-radius: 10px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    box-shadow: 5px 5px 5px#bfbfbf;   
} 
/* Use autoprefixer */
#projects li:hover {
    opacity: 50%;
    -webkit-box-shadow: 5px 5px 5px#272624;
            box-shadow: 5px 5px 5px#272624; 
    -webkit-transform:scale(0.8);
    filter: alpha(opacity=50); /* For IE8 and earlier */ 
}
#projects img {
    width: 50%;
    height: auto;
}
/*Connect section*/
#connect li {
    list-style: none;
    padding: 0.5rem;
}
#connect a {
    text-decoration: none;
    color: #000000;
    margin-left: 1em;
    overflow-wrap: break-word;
}
#connect a:hover {
    background-color: #555653;
    color:#e1e16b;
}
#connect i {
   margin-right: 2em;
}
#connect i:hover {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    color:#a9a923;
}
/* .fa:hover {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
} */
/*Leave a message form*/
#messagesForm form {
    margin-left: 2%;
}
#messagesForm input {       
    border-radius:5px;
    border: 1px solid; 
    margin-bottom: 1em;   
    margin-top: 0.75em;     
}
#messagesForm textarea {
    border-radius:5px;
    border: 1px solid; 
    margin-bottom: 0.5em; 
    padding: 0.5rem;      
}
.inputMessage {
    display: block;
    margin-bottom: 1rem;
    margin-top: 0.75em;
    max-width: 100%;
    width: 100%;
}
#messagesForm button {
    display: block;
    background-color: #e1e16b;
    border-radius:5px;
    border: 1px solid; 
    margin-top: 0.5em;
    font-size: 20px;   
    padding: 0.5em; 
    box-shadow: 5px 5px 5px#bfbfbf;  
    cursor: pointer;
}   
/*Messages section*/
#messagesForm button:hover {
    background-color: #555653;
    color:#e1e16b;
}
#messages {
    display: none;
}
#messages li {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 0.5em 0;
    flex-direction: row;
}
#messages a {
    font-weight: bold;    
    flex-wrap: wrap;
    /* width: 25%; */
    float:left; 
    margin-right: 1em;   
}
#messages ul {
    list-style-type: none;
}
#messages button {
    border-radius:5px;
    font-size: 12px; 
    background-color: #e1e16b;
    float: right;  
    box-shadow: 5px 5px 5px#bfbfbf;     
}
#messages button:hover {
    background-color: #5f5e5e;
    color:#f1f10b ;
} 
/*footer section*/
footer {
    background-color: #e1e16b;
    font-family: 'Noto Serif', serif;
    text-align: center;
    color: #333333;
    font-weight: bold;
    padding: 1em 0;
    margin-top: 2em;
}


