@media (min-width: 320px) {
    .wrap {
        min-height: calc(100vh - 89px);
    }
    .container {
       margin: 0 auto;
       font-size: 12px;
       width: 100%;  
       max-width: 650px;     
    }
    #header h1, h4 {
        font-size: 14px;
        margin-top: 0.25em;
        margin-bottom: 0.25em;
    }
    #section1 img {    
        width: 50%;  
        float: center;
        border-radius: 25px;
        margin-left: 25%; 
        height: auto;      
    }
     #navbar {
        display:flex;
        flex-direction: column;
        height: 100%;       
    } 
    #header button {
        color: #f9f92f;  
        background-color:  #555653; 
        width: 100%;
    }
    #header button i {
        padding-left: 1em;
    }
    #navbar li {        
        border-bottom: 1px solid #a9a923;                           
    }
    #navbar a {       
        font-size: 14px;
        padding-left: 3em;
    }    
    .grid-container p {
        padding: 0.5rem;
        margin: 0.25rem;
    }
    .skillsBox li {
        margin-left: 0.25rem;
    }  
    #projects li:hover {
        width: 50%;
    }  
    #messagesForm input {
        width: 80%;
        height: auto;
        font-size: 12px; 
        padding: 0.25rem;
    }
    #messagesForm textarea {
        width: 80%;
        height:auto;
        font-size: 12px; 
        padding: 0.25rem;
    }
    #messagesForm button {
        width:80%;
    }
    footer{
        font-size: 14px;
    }
    #message a {
        letter-spacing: 0;
        width: 5%;
    }
    #messages button {
        margin-left: 2em;
        font-size: 12px;
        padding: 0.25rem;
        width: 15%;
    }
    .social a{
        padding: 0.5em;      
    }
} 

@media (min-width: 651px) { 
    .container {
        font-size: 14px;
        padding-right: 2em;
        padding-left: 2em; 
        max-width: 1024px;
    }
    #header h1, h4 {
        font-size: 20px;
    }
    #section1 img {
       width: 20%;
       float: right;
       margin-left: 5%;
       height: auto;      
    }
    #header button {
        font-size: 1.5rem;
    }
    #navbar li {
        padding: 0.25em 0 0.25em 0;                            
    }
    .skillsBox li {
        margin-left: 0.25rem;
    }
   
    #messagesForm input {
        width: 50%;
        height: 60%;
        font-size: 12px; 
        padding: 0.25rem;
    }
    #messagesForm textarea {
        width: 50%;
        height:auto;
        font-size: 14px; 
        padding: 0.25rem;
    }
    #messagesForm button {
        width:50%;
    }
    #messages a {
        letter-spacing: 0.5em;
    }
    #messages button {
        margin-left: 4em;
        margin-bottom: 2em;;
        font-size: 14px;
        padding: 0.5rem;
    }
    .social a {
        float: right;
        margin-right: 1em;
        padding: 0.25em;
    }
    footer p {
    margin-left: 10rem;
    }
}
@media (min-width: 1025px) {
    .container p {
        padding-left: 2%;
    }
    .container {
        width: 80%;
        font-size: 16px;
        padding-left: 2em;
        padding-left: 2em; 
    }
    #header button {
        display: none;
    }
    /* Navbar is inline */
    #navbar {
        height: 3rem; 
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;  
        text-align: center;
    }   
    #navbar a {
        padding-top: 0.5rem;
        font-size: 16px;        
        display: block;
    }
    #navbar li {
        border-left: 1px solid #dddd32;
        display: inline;
        width: 100%;
     }
    .grid-container {
        padding-left: 2%;
    }
    .skillsBox li {
        margin-left: 5rem;
        margin-right: 1rem;
    }  
    #projects li:hover {
        width: 40%;
    }
    .flex-container {
        display: inline-block;
        margin-right: 1rem;
    }
    #messagesForm input {
        width: 100%;         
        font-size: 16px; 
        padding: 0.5rem;        
    }
    #messagesForm textarea {
        width: 450px;
        font-size: 16px; 
        padding: 0.25rem;
    }
    #messagesForm button {
        width:450px;
    }

    #messages button {
        margin-left: 5em;
        margin-bottom: 1em;
    }
    footer {
        font-size: 20px;
    }
}